#header
  .site-name
    h1.hidden= current_title
    #header-links
      a#logo(href=url_for('.'))= config.title
      span.spacer
      for social_link in theme.links
        a(href='#{social_link.url}'
          rel='noopener noreferrer'
          title='#{social_link.title}'
          target='_blank'
          class="social-link")
          != fa_icon(social_link.icon, { width: '24px', height: '24px', ariaHidden: true })
    p.description= config.subtitle
  #nav-menu
    - for (var i in theme.menu)
      +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)
